<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #aa0412;
  color: white;

}
</style>
</head>
<body>

  <table id="customers">
    <h1><i>
      Diagnoses
    </i></h1>
    <tr>
      <td>White Blood Cells</td>
      <td>{{message}}</td>
    </tr>
  
    <tr>
      <td>Neut</td>
      <td>{{message1}}</td>
    </tr>
   
    <tr>
      <td>Lymoh</td>
      <td>{{message2}}</td>
    </tr>
  
    <tr>
      <td>Red Blood Cells</td>
      <td>{{message3}}</td>
    </tr>
  
  
    <tr>
      <td>HCT</td>
      <td>{{message4}}</td>
    </tr>
  
  
    <tr>
      <td>Urea</td>
      <td>{{message5}}</td>
    </tr>

    <tr>
      <td>HB</td>
      <td>{{message6}}</td>
    </tr>

    <tr>
      <td>Creatinine</td>
      <td>{{message7}}</td>
    </tr>

    <tr>
      <td>Iron</td>
      <td>{{message8}}</td>
    </tr>

    <tr>
      <td>HDL</td>
      <td>{{message9}}</td>
    </tr>
  </table>

<table id="customers">
  <tr>
    <th>טיפול מומלץ</th>
    <th>מחלה / בעיה</th>
  </tr>



  <tr>
    <td>שני כדורי 10 מ"ג של B12 ביום למשך חודש </td>
    <td>אנמיה</td>
  </tr>

  <tr>
    <td>לתאם פגישה עם תזונאי</td>
    <td>דיאטה</td>"
  </tr>

  <tr>
  <td>להתפנות בדחיפות לבית החולים</td>
  <td>דימום</td>
  </tr>
  
  <tr>
    <td>לתאם פגישה עם תזונאי, כדור 5 מ"ג של סימוביל ביום למשך שבוע</td>
    <td>היפרליפידמיה )שומנים בדם)</td>
  </tr>

  <tr>
  <td> כדור 10 מ"ג של B12 ביום למשך חודש
    כדור 5 מ"ג של חומצה פולית ביום למשך חודש</td>
   <td>הפרעה ביצירת הדם / תאי דם</td>  
  </tr>  

  <tr>
    <td>זריקה של הורמון לעידוד ייצור תאי הדם האדומים</td>
    <td>הפרעה המטולוגית</td>
  </tr>
  
  <tr>
    <td>להתפנות לבית החולים</td>
    <td>הרעלת ברזל</td>
  </tr>

  <tr>
    <td>מנוחה מוחלטת בשכיבה, החזרת נוזלים בשתייה</td>
    <td>התייבשות</td>
  </tr>

  <tr>
    <td>אנטיביוטיקה ייעודית</td>
    <td>זיהום</td>
  </tr>

  <tr>
    <td>הפנייה לבדיקת דם לזיהוי הוויטמינים החסרים</td>
    <td>חוסר בוויטמינים</td>
  </tr>

  <tr>
    <td>לנוח בבית</td>
    <td>מחלה ויראלית</td>
  </tr>

  <tr>
    <td>הפנייה לטיפול כירורגי</td>
    <td>מחלות בדרכי המרה</td>
  </tr>

  <tr>
    <td> לתאם פגישה עם תזונאי</td>
    <td>מחלות לב</td>
  </tr>

  <tr>
    <td> שילוב של ציקלופוספאמיד וקורטיקוסרואידים</td>
    <td>מחלת דם</td>
  </tr>

  <tr>
    <td>הפנייה לאבחנה ספציפית לצורך קביעת טיפול</td>
    <td>מחלת כבד</td>
  </tr>

  <tr>
    <td>איזון את רמות הסוכר בדם</td>
    <td>מחלת כליה</td>
  </tr>

  <tr>
    <td>שני כדורי 10 מ"ג של B12 ביום למשך חודש</td>
    <td>מחסור בברזל</td>
  </tr>
 
  <tr>
    <td>שני כדורי 5 מ"ג של כורכום c3 של אלטמן ביום למשך חודש</td>
    <td>מחלות שריר</td>
  </tr>
  

  <tr>
    <td>להפסיק לעשן</td>
    <td>מעשנים</td>
  </tr>

  <tr>
    <td>להפסיק לעשן / הפנייה לצילום רנטגן של הריאות</td>
    <td>מחלת ריאות</td>
  </tr>

  <tr>
    <td>Propylthiouracil להקטנת פעילות בלוטת התריס</td>
    <td>פעילות יתר של בלוטת התריס</td>
  </tr>


  <tr>
    <td>התאמת אינסולין למטופל</td>
    <td>סוכרת מבוגרים</td>
  </tr>

  <tr>
    <td>Entrectinib -אנטרקטיניב -</td>
    <td>סרטן</td>
  </tr>


  <tr>
    <td>לתאם פגישה עם תזונאי</td>
    <td>צריכה מוגברת של בשר</td>
  </tr>

  <tr>
    <td>הפנייה לרופא המשפחה לצורך בדיקת התאמה בין התרופות</td>
    <td>שימוש בתרופות שונות</td>
  </tr>

  <tr>
    <td>לתאם פגישה עם תזונאי</td>
    <td>תת תזונה</td>
  </tr>



</table>

</body>
</html>
